@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT */

body {
    font-family: 'Smythe', cursive;
}

.main-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: auto;
    border: 1px solid red;
}

.main-header {
    padding: 2rem;
    background: url('/Assets/burger.jpg');
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 300;
}

.menu-item-container {
    display: flex;
    max-width: 90%;
    margin: auto;
    justify-content: space-between;

}

.emoji-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid lightgray;
    padding: 1.5rem 0;
    line-height: 1.8;
}



.item-text {
    margin-left: 2rem;
}

.your-order {
    
    max-width: 90%;
    margin: auto;
}
.your-order > h2{
    text-align: center;

}

#item {
    display: flex;

}

#ordered-items{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

.hidden {
    display: none;
}