@import url('https://fonts.googleapis.com/css2?family=Smythe&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TEXT */

body {
    font-family: 'Smythe', cursive;
}

/* MAIN STYLING */

.main-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid red;
    position: relative;
}

.main-header {
    padding: 2rem;
    background: url('/Assets/burger.jpg');
    background-size: cover;
    background-position:right;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 300;
}

.menu-item-container {
    display: flex;
    max-width: 90%;
    margin: auto;
    justify-content: space-between;

}

.emoji-item-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    border-bottom: 1px solid lightgray;
    padding: 1.5rem 0;
    line-height: 1.8;
}



.item-text {
    margin-left: 2rem;
}



.checkout-order {
    
    min-width: 90%;
    margin: auto;
}
.checkout-order > h2{
    text-align: center;

}

.hidden {
    display: none;
}

#ordered-items{
    border-bottom: 2px solid black;
   
    justify-content: space-between;
}

#order-line-item {
    display: flex;
    justify-content: space-between;
}

#item {
    display: flex;
}

#total-price {
    display: flex;
    justify-content: space-between;
}

#complete-btn{
    cursor: pointer;
}

/* PAYMENT MODAL */

#modal-container {
    
    padding: 1.5rem;
    border-radius: 3px;
    position: absolute;
    top 0;
    bottom: 0;
    left: 0;
    right: 0;
   
    background: #fff;
    border: 1px solid blue;
    
}

#modal-container h3 {
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 2rem;
}

#payment {
    display: flex;
    flex-direction: column;
}

#payment input {
    
    border: 1px solid #757575;
    
}

#payment button {
    background: #16DB99;
    border: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

#payment > input, 
#payment > button {
    margin: auto auto 20px auto;
    width: 100%;
    padding: 15px;
    border-radius: 3px;
}